[submodule "FACELibrary"]
	path = FACELibrary
	url = https://github.com/FACE-Team/FACELibrary
[submodule "FACETools"]
	path = FACETools
	url = https://github.com/FACE-Team/FACETools
[submodule "DatabaseManager"]
	path = DatabaseManager
	url = https://github.com/FACE-Team/DatabaseManager
