/*.suo
/bin

/SceneAnalyser/obj
/obj
/MetaScene/bin
/MetaScene/obj
/SceneAnalyser/Service References
/SceneAnalyser/obj/x86
/SubjectRecognitionQRCode/obj
/ShoreModule/obj
/SceneAnalyzerModule/obj
/SaliencyModule/obj
/KinectONE/obj
